/* TODO: make this a more generic style or more specific instead of repeating on products*/

.about {

  /* gap: 61px; */

  width: 33%;
  margin: 0 auto;

  padding-top: 25px;
  padding-bottom: 46px;
}
