.card {
  display: flex;
  gap: 56px;
  margin-bottom: 61px;
}

.roundImg {
  width: 159px;
  height: 159px;
  object-fit: cover;
  border-radius: 50%;
}

.squareImgLg {
  width: 305px;
  height: 305px;
  object-fit: cover;
}

.cardBody {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}


.card .cardBody a {
  text-decoration: none;
}

.cardTitle {
  color: var(--color-primary);
  font-family: "Roboto";
  font-weight: var(--bold-weight);
  font-style: italic;
  font-size: 1.313rem;
  letter-spacing: 2.1px;
  line-height: 28px;

  margin-bottom: 1.688rem;
}

.cardText {
  font-family: "Lora";
  font-style: italic;
  font-size: 1.125rem;
  letter-spacing: 1.8px;
  line-height: 24px;

  width: 363px;
}
